.PageAdress {
  text-align: center;
}


.PageAdress::after{
  content: '';
  position: absolute;
  width: 22%;
  height: 3px;
  bottom: 0;
  left: 22%;
  background-color: white;
  
  
}
.PageAdress::before{
  content: '';
  position: absolute;
  width: 22%;
  height: 3px;
  bottom: 0;
  right: 22%;
  background-color: white;
  
  
}
